.vlc {
   padding-bottom: 40px;
   margin-left: 60px;
}
.juve {
    margin-left: 1700px;
    margin-top: -70px;
}
.texto1 {
    margin-left: 700px;
    margin-top: -50px;
}
.texto2 {
    margin-left: 850px;
    margin-top: -50px;
    font-size: 80px;
}
.texto3 {
    margin-left: 1020px;
    margin-top: -150px;
}
.texto4 {
    margin-left: 940px;
    margin-top: -171px;
    font-size: 80px;
}
.texto5 {
    margin-left: 920px;
    margin-top: 50px;
}
.barra{
    margin-left: -40px;
    border-left: 2px solid lightgrey;
    height: 120px;
    position: absolute;
    left: 50%;
    margin-top: -180px;
}
.tabla {
    margin-left: 40px;
}
.info {
    margin-top: -100px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}