.vlc {
   padding-top: 50px;
   margin-left: 40px;
}
.juve {
    margin-left: 1500px;
    margin-top: -70px;
}
.texto1 {
    margin-left: 500px;
    margin-top: -50px;
}
.texto2 {
    margin-left: 700px;
    margin-top: -35px;
}
.texto3 {
    margin-left: 900px;
    margin-top: -35px;
}
.texto4 {
    margin-left: 800px;
    margin-top: -35px;
}
.texto5 {
    margin-left: 800px;
}