.container {
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 540px 150px;
    grid-gap: 5px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m m c c c c c c c c c c"
        "f f f f f f f f f f f f";
}
.header {
    background-color: blue;
    grid-area: h;
    text-align: center;
    color: white;
    line-height: 50px;
}

.menu {
    background-color: skyblue;
    grid-area: m;
}

.content {
    background-color: skyblue;
    grid-area: c;
}

.footer {
    background-color: blue;
   grid-area: f;
}