.titulo{
    width: 50%;
    height: 10%;
    margin-left: 23%;
    border: 1px solid black;
}
p {
    padding-top: 2%;
    padding-left: 40%;
}
li {
    list-style: none;
    float: left;
    padding: 2%;
}
ul {
    margin-left: 22%;
    margin-top: 5%;
}
li img {
    width: 80px;
    height: 80px;
    transition: all 0.3s;
    transform-origin: 50% 75%;
}
li:hover img { 
    transform: scale(2);
    margin: 0 2em;
}
#primero,#segundo,#tercero,#cuarto,#quinto,#sexto {
    display: none;
    margin-top: 13%;
}
.primero:hover #primero,.segundo:hover #segundo,.tercero:hover #tercero,.cuarto:hover #cuarto,.quinto:hover #quinto,.sexto:hover #sexto {
    display: block;
}