.cuerpo {
    margin-top: 50px;
    margin-left: 300px;
    height: 350px;
    width: 1200px;
    border: 1px solid lightgrey;
    border-bottom: 0.5px solid lightgray;
}
.final{
    height: 100px;
    width: 1202px;
    padding-top: 10px;
    background-color: #E7EBEE;
    margin-left: 300px;
}
pre {
    line-height: 2em;
    padding-left: 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #616364;
}
h2 {
    color: #0907A2;
    padding-left: 50px;
}
.boton {
    height: 35px;
    width: 280px;
    background-color: #59C413;
    color: white;
    font-size: 16px;
    line-height: 2em;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px;
    margin-left: 0px;
}
hr {
    width: 88%;
    margin-left: 0px;
    margin-left: 50px;
}
.tabla1 {
    width: 1450px;
    padding-left: 50px;
}
.fila2 {
    padding-top: 20px;
    color: #27B3F5;
}
.tabla2 {
    width: 1200px;
    padding-left: 50px;
}
.fila1 {
    padding-top: 40px;
    color: #27B3F5;
    width: 600px;
}
.fila3{
    color: #A2A6A8;
    padding-top: 20px;
    width: 300px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    margin-left: -260px;
    padding-bottom: 5px;
}
p {
    margin-left: 55px;
    margin-top: -24px;
    color: white;
}
.politica {
    color: #27B3F5;
    padding-top: 50px;
}
.desarrollo {
    margin-left: 825px;
    margin-top: -40px;
    color: #B7B9BA;
}
.barra{
    margin-left: 395px;;
    border-left: 2px solid  black;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-top: -30px;
}
.logo1 {
    margin-left: 970px;
    margin-top: -20px;
}
.logo2 {
    margin-left: 30px;
}
