h1 {
    font-size: 50px;
}
img {
    margin-left: 850px;
}
h3 {
    color: blue;
    margin-left: 850px;
}
pre {
    margin-left: 850px;
    line-height: 25px;
}
li {
    list-style:none;
    margin-left: -410px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.lista {
    margin-left: 370px;
}
hr {
    width: 17%;
    margin-left: 435px;
    border: 1px dotted darkgray;
}
.primer {
    margin-left: 225px;
    margin-top: -17px;
}
p {
    margin-left: 850px;
    margin-bottom: -15px;
}