.pagina {
    width: 300px;
    height: auto;
    border: 1px;
    border-style: groove;
    border-color: black;
    font-size: 12px;
    font-family: sans-serif;
}
h1, h3 {
    background-color: #69A0F3;
    color: #FFFFFF;
}
.tabla2{
    padding-bottom: 150px;
}
th {
    vertical-align: top;
    text-align: left;
}
